---
import LinkedIcon from "../../components/LinkedIcon.astro";
import MailIcon from "../../components/MailIcon.astro";
import WebIcon from "../../components/WebIcon.astro";

const people: {
  name: string;
  role?: string;
  imageUrl: string;
  linkedinUrl?: string;
  email?: string;
  websiteUrl?: string;
}[] = [
  {
    name: "Graham Thompson",
    // role: "The entrepreneur",
    imageUrl: "/img/graham_thompson.jpg",
    linkedinUrl: "https://www.linkedin.com/in/graham-w-thompson",
    email: "mailto:Graham Thompson <graham@getcarmen.ai>",
  },
  {
    name: "Dave Peck",
    // role: "The engineer",
    imageUrl: "/img/dave_peck.jpg",
    email: "mailto:Dave Peck <dave@getcarmen.ai>",
    websiteUrl: "https://davepeck.org",
  },
];
---

<!-- About us -->
<div class="bg-gray-900 py-24 sm:py-32 my-24 rounded-4xl">
  <div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-xl">
      <h2
        class="text-3xl font-semibold tracking-tight text-pretty text-white sm:text-4xl"
      >
        Our founders
      </h2>
      <p class="mt-6 text-lg/8 text-gray-400">
        We&rsquo;re a team of seasoned entrepreneurs, engineers, data wranglers,
        and AI toolsmiths.
      </p>
    </div>
    <ul
      role="list"
      class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
    >
      {
        people.map((person) => (
          <li>
            <div class="flex items-center gap-x-6">
              <img
                alt=""
                src={person.imageUrl}
                class="size-20 rounded-full outline-1 -outline-offset-1 outline-white/10"
              />
              <div>
                <h3 class="text-base/7 font-semibold tracking-tight text-white">
                  {person.name}
                </h3>
                {person?.role && (
                  <p class="text-sm/6 font-semibold text-carmen-red brightness-150">
                    {person.role}
                  </p>
                )}
                <div class="flex gap-3 text-neutral-400 mt-1">
                  {person?.email && (
                    <a
                      href={person?.email}
                      target="_blank"
                      aria-label="Email"
                      class="hover:text-carmen-red transition-colors"
                    >
                      <MailIcon />
                    </a>
                  )}
                  {person?.linkedinUrl && (
                    <a
                      href={person?.linkedinUrl}
                      target="_blank"
                      aria-label="LinkedIn"
                      class="hover:text-carmen-red transition-colors"
                    >
                      <LinkedIcon />
                    </a>
                  )}
                  {person?.websiteUrl && (
                    <a
                      href={person?.websiteUrl}
                      target="_blank"
                      aria-label="Website"
                      class="hover:text-carmen-red transition-colors"
                    >
                      <WebIcon />
                    </a>
                  )}
                </div>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>
